@import "bourbon";

// Variables
$heading_font: "Varela Round";
$body_font: "Merriweather";
$copy: #3a3632;
$link: #428bca;
$active: #f9275d;
$inactive: #808080;
$hover_duration: 300ms;
$hover: color $hover_duration ease-out;
// Breakpoints
$break_small: 320px;
$break_medium: 768px;
$break_large: 992px;

// Mixins
// Media Query
@mixin respond-to($breakpoint) {
    @media only screen and (min-width: $breakpoint) { @content; }
}

/* Typography
================================= */
h1, h2, h3, h4, h5, h6 {
	color: $copy;
	font: {
		family: $heading_font, 'Verdana', sans-serif;
		style: normal;
		weight: 900;
	}
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2em;
	letter-spacing: 0.025em;
	margin: {
		bottom: 0.25em;
		top: 1em;
	}
	text-align: center;
}

p {
	color: $copy;
	font: {
		family: $body_font, 'Georgia', serif;
		size: 1.2em;
	}
	line-height: 1.6;
	margin: 0;
}

a {
	color: $link;
	&:hover {
		color: $active;
		text-decoration: none;
		@include transition($hover);
	}
}

div.contact > p > a {
	text-decoration: underline;
}

span {
	cursor: pointer;
}
	span.answer {
		color: $inactive;
		font-style: italic;
		&:hover {
			color: $active;
			@include transition($hover);
		}
	}
		span.answer.current {
			color: $active;
		}
			span.answer.current.active-hover-fix:hover {
				color: $inactive;
				@include transition($hover);
			}

.strike {
	text-decoration: line-through;
}

/* Layout
================================= */

.chart {
	width: 100%;
}

div.container {
	margin: {
		bottom: 2em;
		top: 1em;
	}
	div.heads {
		display: block;
		margin: 1em auto 0 auto;
		height: 200px;
		position: relative;
		@include respond-to($break_small) {
			height: 300px;
		}
		@include respond-to($break_medium) {
			height: 400px;
		}
	
		object {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			visibility: hidden;	
			width: 100%;
		}
			object.active {
				visibility: visible;
				//@include animation(bounce 0.3s ease-out);
				@include animation(stretchOpen 0.3s ease-out);
			}
	}
}

/* Animations
================================= */
@include keyframes(bounce) {
	0%, 100% {
		@include transform(translateY(0));
	}
	50% {
		@include transform(translateY(-10%));
	}
}

@include keyframes(stretchOpen) {
	0% {
		@include transform(scaleX(0));
	}
	75% {
		@include transform(scaleX(1.25));
	}
	100% {
		@include transform(scaleX(1));
	}
}