@import "bourbon";

// Variables
$heading-font: "brandon-grotesque";
$body-font: "ff-meta-serif-web-pro";
$copy: #3a3632;
$link: #428bca;
$active: #f9275d;
$inactive: #808080;
$hover_duration: 300ms;

/* Mixins */
@include keyframes(bounce) {
	0%, 100% {
		@include transform(translateY(0));
	}
	50% {
		@include transform(translateY(-10%));
	}
}

/* Typography
================================= */
h1, h2, h3, h4, h5, h6 {
	color: $copy;
	font: {
		family: $heading-font;
		style: normal;
		weight: 900;
	}
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3em;
	letter-spacing: 0.025em;
	margin: {
		bottom: 0.25em;
		top: 1em;
	}
	text-align: center;
}

h2 {
	font-size: 2em;
	letter-spacing: 0.01em;
}

h3 {
	font-size: 1.5em;
}

p {
	color: $copy;
	font: {
		family: $body-font;
		size: 1.5em;
	}
	line-height: 1.8;
	margin: 0;
}

a {
	color: $link;
	&:hover {
		color: $active;
		text-decoration: none;
		@include transition(color $hover_duration ease-out);
	}
}

div.contact > p > a {
	text-decoration: underline;
}

span {
	cursor: pointer;
}
	span.answer {
		color: $inactive;
		font-style: italic;
		&:hover {
			color: $active;
			@include transition(color $hover_duration ease-out);
		}
	}
		span.answer.current {
			color: $active;
		}
			span.answer.current.active-hover-fix:hover {
				color: $inactive;
				@include transition(color $hover_duration ease-out);
			}

.strike {
	text-decoration: line-through;
}

/* Layout
================================= */

.chart {
	width: 100%;
}

div.container {
	margin: {
		bottom: 2em;
		top: 1em;
	}
	div.heads {
		display: block;
		margin: 0 auto;
		height: 200px;
		position: relative;
	
		object {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			visibility: hidden;	
			width: 100%;
		}
			object.active {
				visibility: visible;
				@include animation(bounce 0.3s ease-out);
			}
	}
}

/* Media Queries
================================= */
/* Small */
@media screen and (min-width: 768px) {
	div.heads {
		height: 300px;
	}
}

/* Medium - L */
@media screen and (min-width: 992px) {
	div.heads {
		height: 400px;
	}
}